*{
  margin:0 auto;
}

body{
  background-color:#fff;
  color:#000;
}

.dark-side{
  background-color: #000;
  color: #fff;
}

#dark{
  display: inline;
}

#light{
  display: none;
}

.dark-side #dark{
  display: none;
}

.dark-side #light{
  display: inline;
}

.main-img{
  width:100%;
  max-height:40vh;
  object-fit:cover;
}

#content{
  margin: 0% 10% 5% 10%;
}

#title{
  font-size: 70px;
  margin: 5% 0 2% 0;
  letter-spacing:3px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.dark-side #title{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p{
  font-size:16px;
  line-height:22px;
  margin-bottom: 2%;
  font-family:Arial, Helvetica, sans-serif
}

.dark-side p{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#description{
  margin-bottom:10px;
}

#btn{
  margin:auto;
  margin-top:2%;
  display: flex;
  align-items: center;
  justify-content: center;
  border:0px;
  padding: 10px 20px;
  cursor:pointer;
  letter-spacing:1px;
  background-color: #000;
  color:#fff;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.dark-side #btn{
  background-color: #fff;
  color:#000;
  font-family:Arial, Helvetica, sans-serif
}

