*{
    margin: 0 auto;
}

h1{
    margin-top:20px!important;
    color:#fff;
    text-align:center;
}

.top-header{
    background-color:#151B29;
    padding:20px 0px;
}

.add-section{
    background-color:#98C1D9
}

.list-section{
    padding-top:20px;
}

body{
    background-color:#f2f2f2!important
}

#add-new{
    width:100%;
}

#task-list{
    margin-top:10px;
}

ul{
    padding-left:0px!important;
}

.fa {
    cursor:pointer;
    font-size:20px!important;
}

.fa-trash{
    color:#b00c0c;
    justify-content: flex-end;
    margin-right:0px;
    z-index:2;
}

.fa-circle-o, .fa-check-circle{
    order: -1;
    margin-left:0;
    margin-right:10px;
    padding-top:3px;
}

li{
    padding:10px 20px;
    background-color:#fff;
    margin:10px 0px;
    display:flex;
    border-radius:15px;
    box-shadow:3px 3px 10px rgba(0,0,0,0.1);
}

#add-new{
    display:flex;
    flex-direction:column;
    max-width:500px;
    padding:20px 0px;
}

#add-new-task-btn{
    border:none;
    margin-left:0px;
    padding:5px 10px;
    background-color: #EE6C4D;
    color: #ffffff;
    font-weight:600;
    border-radius: 0px 0px 15px 15px;
}

#add-new-task-btn:hover{
    background-color: #d95232;
    transition:0.3s;
}

#new-task-text,#new-task-description{
    border:none;
    background-color: #fff;
    padding:5px 20px;
}

#new-task-text{
    border-bottom:1px solid #dedede;
    font-size:20px;
    border-radius: 15px 15px 0px 0px;
}

#new-task-description{
    overflow-wrap: break-word;
}

li div{
    margin-left:5px!important;
}

li p{
    font-size:11px;
    margin-bottom:0px;
    color:#7d7d7d;
}

h6{
    margin-bottom:5px!important;
}


.note{
    font-size:14px;
    color:black;
    margin-bottom:5px;
    border:none;
    background-color:#fff;
}

.note:focus-visible{
    background-color:#f2f2f2;
}

#new-task-text:focus-visible,#new-task-description:focus-visible,.note:focus-visible{
    outline:none!important;
}

.chip{
    border:none;
    border-radius:100px;
    padding:5px 20px;
    margin-top:10px;
    font-size:12px;
    background-color:#fff;
    font-weight:600;
}

.chip-active{
    background-color:#EE6C4D;
    color:#fff;
}
