*{
    margin: 0 auto;
}

h1{
    margin-top:20px!important;
}

#add-new{
    width:100%;
}

#task-list{
    margin-top:10px;
}

ul{
    padding-left:0px!important;
}

.fa {
    cursor:pointer;
    font-size:20px!important;
}

.fa-trash{
    color:#b00c0c;
    justify-content: flex-end;
    margin-right:0px;
    z-index:2;
}

.fa-circle-o, .fa-check-circle{
    order: -1;
    margin-left:0;
    margin-right:10px;
    padding-top:3px;
}

li{
    padding:10px 20px;
    background-color:#ededed;
    margin:10px 0px;
    display:flex;
}

#add-new{
    display:flex;
    flex-direction:column;
    max-width:500px;
    margin-left:0;
    padding:20px 0px;
}

#add-new-task-btn{
    border:none;
    margin-left:0px;
    padding:5px 10px;
    background-color: #3D5AFE;
    color: #ffffff;
}

#add-new-task-btn:hover{
    background-color: #303F9F;
    transition:0.3s;
}

#new-task-text,#new-task-description{
    border:none;
    background-color: #ededed;
    padding:5px 20px;
}

#new-task-text{
    border-bottom:1px solid #c2c2c2;
    font-size:20px;
}

#new-task-description{
    overflow-wrap: break-word;
}

li div{
    margin-left:5px!important;
}

li p{
    font-size:11px;
    margin-bottom:0px;
    color:#7d7d7d;
}

h6{
    margin-bottom:5px!important;
}


.note{
    font-size:14px;
    color:black;
    margin-bottom:5px;
}

#new-task-text:focus-visible,#new-task-description:focus-visible{
    outline:none!important;
}

.chip{
    border:none;
    border-radius:100px;
    padding:5px 20px;
    margin-top:10px;
    font-size:12px;
}

.chip-active{
    background-color:#3D5AFE;
    color:#fff;
}
