
.theme--light.v-text-field--solo-inverted.v-input--is-focused>.v-input__control>.v-input__slot{
    color: rgb(43, 129, 214)!important;
}

.tile {
    margin: 5px;
    border-radius: 4px;
  }
  .tile:hover {
    background: green;
  }
  .tile:active {
    background: yellow;
  }